
<div *ngIf="buildingDataDefinition">
    <h2><span jhiTranslate="microApp.buildingDataDefinition.detail.title">Building Data Definition</span> {{buildingDataDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="microApp.buildingDataDefinition.label">Label</span></dt>
        <dd>
            <span>{{buildingDataDefinition.label}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'building-data-definition/'+ buildingDataDefinition.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
