
<div *ngIf="buildingData">
    <h2><span jhiTranslate="cyberholocampusApp.buildingData.detail.title">Building Data</span> {{buildingData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cyberholocampusApp.buildingData.description">Description</span></dt>
        <dd>
            <span>{{buildingData.description}}</span>
        </dd>
        <dt><span jhiTranslate="cyberholocampusApp.buildingData.label">Label</span></dt>
        <dd>
            <span>{{buildingData.label}}</span>
        </dd>
        <dt><span jhiTranslate="cyberholocampusApp.buildingData.building">Building</span></dt>
        <dd>
            <div *ngIf="buildingData.building">
                <a [routerLink]="['/building', buildingData.building?.id]">{{buildingData.building?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'building-data/'+ buildingData.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
