
<div *ngIf="affectation">
    <h2><span jhiTranslate="cyberholocampusApp.affectation.detail.title">Affectation</span> {{affectation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cyberholocampusApp.affectation.user">User</span></dt>
        <dd>
            {{affectation.user?.login}}
        </dd>
        <dt><span jhiTranslate="cyberholocampusApp.affectation.notification">Notification</span></dt>
        <dd>
            <div *ngIf="affectation.notification">
                <a [routerLink]="['/notification', affectation.notification?.id]">{{affectation.notification?.title}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'affectation/'+ affectation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
