<div>
    <h2>
        <span jhiTranslate="microApp.affectation.home.title">Affectations</span>
        <button class="btn btn-primary float-right jh-create-entity create-affectation" [routerLink]="['/', { outlets: { popup: ['affectation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="microApp.affectation.home.createLabel">
            Create new Affectation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="affectations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notificationId"><span jhiTranslate="microApp.affectation.notification">Notification</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="microApp.affectation.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let affectation of affectations ;trackBy: trackId">
                <td><a [routerLink]="['../affectation', affectation.id ]">{{affectation.id}}</a></td>
                <td>
                    <div *ngIf="affectation.notificationId">
                        <a [routerLink]="['../notification', affectation.notificationId  ]" >{{affectation.notificationId}}</a>
                    </div>
                </td>
                <td>
                    {{affectation.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../affectation', affectation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'affectation/'+ affectation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'affectation/'+ affectation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="affectations && affectations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
